@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

:root {
  --green-woovi: #03D69D;
  --green-woovi-opacity: #F4FBF9;
  --text-color: #4D4D4D;
  --text-color-secondary: #AFAFAF;
  --blue: #133A6F;
  --stroke: #E5E5E5;
}

html,
body {
  font-family: "Nunito", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text-color);
}

strong {
  font-weight: 800;
}